@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

#main-footer {
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}

body {
	background-image: linear-gradient(to left, #485563, #29323c);
	margin-bottom: 100px;
}

.title {
	margin: 100px;
	color: #ffffff;
}

.wel-msg {
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	margin-top: 30px;
}

.con-msg {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 36px;
}

.card {
	margin-top: 10px;
}